body {
  background-color: black;
}
img {
  border: 5px solid white;
  width: 100%;
}
.center {
  margin-top: 100px;
  margin-left: 25%;
  width: 50%;
  height: auto;
  text-align: center;
  color: #fff;
}
h1 {
  text-transform: uppercase;
  font-family: "Libre Baskerville";
  font-size: 3rem;
}
