body {
  background-color: #faf9f6;
  margin: 50px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-img {
  width: 80vw;
}
.title {
  text-align: center;
  font-size: 3rem;
}
.title span {
  color: #1515a1;
}
.card-text {
  max-width: 80vw;
}
@media (max-width: 667px) {
  .logo {
    width: 5rem;
  }
}
@media (min-width: 668px) and (max-width: 1024px) {
  .logo {
    display: block;
    margin: 0 auto;
  }
  .left {
    float: left;
    margin-right: 2rem;
    width: 45%;
  }
  .right {
    float: right;
    width: 45%;
  }
  .card-img {
    width: 40vw;
    margin-right: 20px;
  }
  .card-title {
    margin-top: 0;
  }
}
footer {
  color: #1515a1;
  text-align: right;
}
